#######################################
# Modify this file and save as ".env" #
#######################################


# MySQL DB information

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=dbname


# Session secret

SESSION_SECRET=mysecret


# Service Mode : development | production

SERVICE_MODE=development